<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azhang.web.mapper.GeneratorFavourMapper">

    <resultMap id="BaseResultMap" type="com.azhang.web.model.entity.GeneratorFavour">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="generatorId" column="generatorId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,generatorId,userId,
        createTime,updateTime
    </sql>

    <select id="listFavourGeneratorByPage"
            resultType="com.azhang.web.model.entity.Generator">
        select p.*
        from code_generate.generator p
                 join (select generatorId from code_generate.generator_favour where userId = #{favourUserId}) pf
                      on p.id = pf.generatorId ${ew.customSqlSegment}
    </select>
</mapper>
